/*
 * GENERAL
 */

body {
    background-color: #B5E2BB;
    background-image: url("../img/diagonal.png");
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;

    font-size: 1.5vw;
    color: #0C5215;
}

header {
    text-align: center;
    margin-left: -2vw;
    font-size: 12vw;
    font-weight: bolder;
    color: #FFFFFF;
}

a {
    color: #0C5215;
    text-decoration: none;
}

a:hover {
    color: white;
}


/*
 * INDEX, "more info" page
 */

.wrapper {
    width: 100%;
    margin: 0 auto;
}

#left-panel {
    float: left;
    margin-left: 5%;
    width: 55%;
    display: block;
}

/* the resources panel */
#right-panel {
    float: right;
    font-size: 1.4vw;
    background: rgba(0,0,0,0.1);

    -moz-box-shadow: 1px 3px 10px 1px grey;
    -webkit-box-shadow: 1px 3px 10px 1px grey;
    box-shadow: 1px 3px 10px 2px grey;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    width: 30vw;
    height: 45vh;

    position: absolute;

    right:-30vw;
    padding-left: 5vw;

}

#toggleDiv {
    width: 15%;
    height: 45vh;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    position: absolute;
    display: inline-block;
    top: 0; left: 0;
}

/* help from http://stackoverflow.com/questions/15138723/vertically-center-rotated-text-with-css */
.inner {
    position: absolute;
    top: 50%;
    left: 50%;
}

.rotate {
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
}

#right-content {
    margin-left: 15%;
    height: 30vh;
}

#right-panel:hover {
    background: rgba(0,0,0,0.08);
}

ul {
    margin: 2vh 0;
    padding: 1vh 0;
}

li {
    margin: 1vh 1vw;
    padding: 0.3vh 0;
    list-style: square;
}


/*
 * SITE REQUESTS PAGE, and table of site requests
 */

#site-request-page {
    text-align: center;
    margin: 2% auto;
}

#site-requests {
    margin: 5% 0;
    width: 100%;
    border-collapse: collapse;
}

#site-requests td, #site-requests th {
    font-size: .8em;
    border: 1px solid #66A366;
    padding: 7px;

    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#site-requests th {
    font-size: 1em;
    text-align: center;
    padding: 5px 0;
    background-color: #0C5215;
    color: #fff;
}

tr:nth-child(odd) {background: #D1EDD4}

.status {
    width: 10%;
}

.site {
    width: 25%;
    text-align: left;
}

.date {
    width: 10%;
}

.notes {
    width: 45%;
    text-align: left;
}

.num-requests {
    width: 10%;
}


/*
 * buttons
 */

#btn-container {
    margin: 0 auto;
    text-align: center;
}

.btn {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    vertical-align: middle;
    line-height: 40px;

    outline: none;

    width: 48%;
    height: 40px;
    margin-bottom: 10px;

    cursor: pointer;

    border: 1px solid;
    border-color: #788E77;
    border-radius: 2px;
    color: #ffffff;
}

.btn-green {
    background-color: #66A366;
}

.btn-green:hover {
    background-color: #B5E2BB;
}

.btn-red {
    background-color: #B14345;
}

.btn-red:hover {
    background-color: #D36A66;
}

.btn-blue {
    background-color: #789EC1;
}

.btn-blue:hover {
    background-color: #91B8D8;
}

.wide{
    width: 98%;
}

.btn:hover {
    color: #333333;
}
