/*
 * GENERAL
 */

body {
    /*background-color: #B5E2BB;*/
    background-image: url("../img/diagonal.png");
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

header {
    text-align: center;
    font-size: 10.7vw;
    font-weight: bolder;
    color: #FFFFFF;
}

small {
    font-weight: bold;
    font-style: italic;
}

a {
    color: #0C5215;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    font-weight: bolder;
    color: white;
}


/*
 * INDEX, "more info" page
 */

.wrapper {
    width: 100%;
    margin: 0 auto;
    font-size: 1.5vw;
    color: #0C5215;
}

#left-panel {
    float: left;
    margin-left: 5%;
    width: 55%;
    display: block;
}

#right-panel {
    margin: 3vh 0;
    float: right;
    width: 25%;
    font-size: 1.4vw;
    background: rgba(0,0,0,0.1);

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    height: 100%;

    -moz-box-shadow: 1px 3px 10px 1px grey;
    -webkit-box-shadow: 1px 3px 10px 1px grey;
    box-shadow: 1px 3px 10px 1px grey;

}

#right-panel:hover {
    background: rgba(0,0,0,0.08);
}

.right-content {
    text-align: center;
    padding: 2vh 2vw;
}

li {
    margin: 5% 0;
    list-style: square;
}



/*
 * SITE REQUESTS PAGE, and table of site requests
 */

#site-request-page {
    text-align: center;
    margin: 2% auto;
}

#site-requests {
    margin: 5% 0;
    width: 100%;
    border-collapse: collapse;
}

#site-requests td, #site-requests th {
    font-size: .8em;
    border: 1px solid #66A366;
    padding: 7px;

    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#site-requests th {
    font-size: 1em;
    text-align: center;
    padding: 5px 0;
    background-color: #0C5215;
    color: #fff;
}

tr:nth-child(odd) {background: #D1EDD4}

.status {
    width: 10%;
}

.site {
    width: 25%;
    text-align: left;
}

.date {
    width: 10%;
}

.notes {
    width: 45%;
    text-align: left;
}

.num-requests {
    width: 10%;
}


/*
 * buttons
 */

#btn-container {
    margin: 0 auto;
    text-align: center;
}

.btn {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    vertical-align: middle;
    line-height: 40px;

    outline: none;

    width: 48%;
    height: 40px;
    margin-bottom: 10px;

    cursor: pointer;

    border: 1px solid;
    border-color: #788E77;
    border-radius: 2px;
    color: #ffffff;
}

.btn-green {
    background-color: #66A366;
}

.btn-green:hover {
    background-color: #B5E2BB;
}

.btn-red {
    background-color: #B14345;
}

.btn-red:hover {
    background-color: #D36A66;
}

.btn-blue {
    background-color: #789EC1;
}

.btn-blue:hover {
    background-color: #91B8D8;
}

.wide{
    width: 98%;
}

.btn:hover {
    color: #333333;
}
